ninja
torch==2.6.0
torchvision==0.21.0+cu124
torchaudio==2.4.1
h5py
PyYAML
SharedArray
tensorboard
tensorboardX
yapf
addict
einops
scipy
plyfile
termcolor
timm
torch-cluster
torch-scatter
torch-sparse
torch-geometric
spconv-cu121==2.3.8
open3d
mamba-ssm==2.2.4
causal-conv1d==1.5.1